.c-carousel {
    width: 100%;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
  }
  .c-carousel__arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    z-index: 1;
   
    background-color: white;
  }
  .c-carousel__arrow--left {
    left: 15px;
  }
  .c-carousel__arrow--right {
    right: 15px;
  }
  .c-carousel__slides {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    will-change: transform;

  }
  .c-carousel__item {
      margin: 10px;
      padding: 4px;
      outline: 1px solid green;
  }
  