<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components - Accordions</title>
</head>
<body>
    <h1>Simple Componnets in JavaScript - Accordions</h1>
    <a href="../index.html">Back to Home Page</a>
    <h2>Accordions - 1</h2>
    <div class="accordions__wrapper">
      <div class="accordions__item open">
        <h3 class="accordions__heading">Item 1</h3>
        <div class="accordions__item-content">
          <ul>
            <li><a href="#">Item1 - content1</a></li>
            <li><a href="#">Item1 - content2</a></li>
          </ul>
        </div>
      </div>
      <div class="accordions__item close">
          <h3 class="accordions__heading">Item 2</h3>
          <div class="accordions__item-content">
            <ul>
              <li><a href="#">Item2 - content1</a></li>
              <li><a href="#">Item2 - content2</a></li>
            </ul>
          </div>
        </div>
        <div class="accordions__item close">
            <h3 class="accordions__heading">Item 3</h3>
            <div class="accordions__item-content">
              <ul>
                <li><a href="#">Item3 - content1</a></li>
                <li><a href="#">Item3 - content2</a></li>
              </ul>
            </div>
          </div>
    </div>
    <h2>Accordions - 2</h2>
    <div class="accordion__wrapper">
      <div class="accordion__item">
        <div class="accordion__title">
            <svg viewBox="0 0 20 20" width="20" height="20" class=""><title>shield</title><path d="M19 11a7.5 7.5 0 0 1-3.5 5.94L10 20l-5.5-3.06A7.5 7.5 0 0 1 1 11V3c3.38 0 6.5-1.12 9-3 2.5 1.89 5.62 3 9 3v8zm-9 1.08l2.92 2.04-1.03-3.41 2.84-2.15-3.56-.08L10 5.12 8.83 8.48l-3.56.08L8.1 10.7l-1.03 3.4L10 12.09z"></path></svg>
            <h3 class="accordion__heading">Item 1</h3>
            <div>
                <svg viewBox="0 0 20 20" width="20" height="20" class="accordion-arrow"><title>cheveron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
              </div>
        </div>
        <ul class="accordion__content hidden">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </div>
      <div class="accordion__item">
          <div class="accordion__title">
              <svg viewBox="0 0 20 20" width="20" height="20" class=""><title>shield</title><path d="M19 11a7.5 7.5 0 0 1-3.5 5.94L10 20l-5.5-3.06A7.5 7.5 0 0 1 1 11V3c3.38 0 6.5-1.12 9-3 2.5 1.89 5.62 3 9 3v8zm-9 1.08l2.92 2.04-1.03-3.41 2.84-2.15-3.56-.08L10 5.12 8.83 8.48l-3.56.08L8.1 10.7l-1.03 3.4L10 12.09z"></path></svg>
              <h3 class="accordion__heading">Item 2</h3>
              <div>
                  <svg viewBox="0 0 20 20" width="20" height="20" class="accordion-arrow"><title>cheveron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
                </div>
          </div>
          <ul class="accordion__content hidden">
            <li>Item 1</li>
            <li>Item 2</li>
          </ul>
        </div>
        <div class="accordion__item">
            <div class="accordion__title">
                <svg viewBox="0 0 20 20" width="20" height="20" class=""><title>shield</title><path d="M19 11a7.5 7.5 0 0 1-3.5 5.94L10 20l-5.5-3.06A7.5 7.5 0 0 1 1 11V3c3.38 0 6.5-1.12 9-3 2.5 1.89 5.62 3 9 3v8zm-9 1.08l2.92 2.04-1.03-3.41 2.84-2.15-3.56-.08L10 5.12 8.83 8.48l-3.56.08L8.1 10.7l-1.03 3.4L10 12.09z"></path></svg>
                <h3 class="accordion__heading">Item 3</h3>
                <div>
                    <svg viewBox="0 0 20 20" width="20" height="20" class="accordion-arrow"><title>cheveron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
                  </div>
            </div>
            <ul class="accordion__content hidden">
              <li>Item 1</li>
              <li>Item 2</li>
            </ul>
          </div>
    </div>
</body>
</html>