<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components - Accordions</title>
</head>
<body>
    <h1>Simple Componnets in JavaScript - Carousel</h1>
    <a href="../index.html">Back to Home Page</a>
   <div class="container">
    <h2>Carousel</h2>
    <button data-action="stopPlay">stop</button>
    <div class="carousel-wrapper">
        <ul class="carousel" data-target="carousel">
            <li class="card" data-target="card">1</li>
            <li class="card" data-target="card">2</li>
            <li class="card" data-target="card">3</li>
            <li class="card" data-target="card">4</li>
            <li class="card" data-target="card">5</li>
            <li class="card" data-target="card">6</li>
            <li class="card" data-target="card">7</li>
            <li class="card" data-target="card">8</li>
            <li class="card" data-target="card">9</li>
        </ul>
        <div class="carousel-btn">
            <button data-action="slideLeft">L</button>
            <button data-action="slideRight">R</button>
        </div>
    </div>
   </div>
</body>
</html>