<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components - Modal</title>
</head>
<body>
    <section class="container">
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste minima deleniti atque eos deserunt consectetur dolorem minus fuga? Et voluptatem ut asperiores perferendis reiciendis inventore facilis numquam, corrupti mollitia quasi.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, voluptates tenetur quia doloremque totam alias ipsa sapiente deserunt veritatis corrupti. Fuga est repellendus placeat debitis nisi, quaerat eum facere fugiat.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, neque culpa ea similique vero illum ab ullam at sunt fugit ex aliquid itaque optio nihil facere soluta veritatis accusantium voluptate.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad placeat sunt temporibus veniam quas maiores facilis labore. Saepe aliquam id, necessitatibus quas ipsam magni veritatis ea! Mollitia ea provident asperiores?</p>
        </div>
    </section>
    <div class="c-modal c-modal-remove">
       <div class="c-modal__inner">
        <h1>Title Modal</h1>
        <p>To jest modal</p>
        <button>Tak</button>
        <button class="c-modal__close">Close</button>
       </div>
    </div>
</body>
</html>