<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components - Accordions</title>
</head>
<body>
    <h1>Simple Componnets in JavaScript - Tabs</h1>
    <a href="../index.html">Back to Home Page</a>
   <div class="container">
      
       <!-- Tabs  -->
       <ul id="nav-tab" class="tabs__nav">
           <li class="tab-active"><a class="tabs__nav-link" href="#home">Home</a></li>
           <li><a class="tabs__nav-link" href="#profile">Profile</a></li>
           <li><a class="tabs__nav-link" href="#messages">Messages</a></li>
       </ul>

       <!-- Tab panes -->
       <div class="tabs__content">
           <div class="tabs__pane tab-active" id="home">
               <h3>Tab 1 - Title</h3>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptatum nostrum illum provident magnam! Eligendi perspiciatis magni animi molestiae porro, aut tempora voluptate vel magnam possimus, repudiandae quae officiis velit!</p>
           </div>
           <div class="tabs__pane" id="profile">
            <h3>Tab 2 - Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptatum nostrum illum provident magnam! Eligendi perspiciatis magni animi molestiae porro, aut tempora voluptate vel magnam possimus, repudiandae quae officiis velit!</p>
        </div>
        <div class="tabs__pane" id="messages">
            <h3>Tab 3 - Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptatum nostrum illum provident magnam! Eligendi perspiciatis magni animi molestiae porro, aut tempora voluptate vel magnam possimus, repudiandae quae officiis velit!</p>
        </div>
       </div>
      
      
        
      
   </div>
    
    
</body>
</html>